<header class="siteHeader">
    <div class="siteHeader__inner">
        <a id="toggle-nav" class="siteHeader__toggle">menu</a>
        <h1 class="siteLogo">
            <a class="siteLogo__link" href="http://www.hum.com/">
                Generic Logo Company
            </a>
        </h1>
        <nav id="nav-dropdown" class="siteNav closed">
            <ul class="siteNav__links">
                <li class="siteNav__item"><a class="siteNav__link{{#is basename 'features'}} siteNav__link--active{{/is}}" href="#">Nav 1</a></li>
                <li class="siteNav__item"><a class="siteNav__link{{#is basename 'how_it_works'}} siteNav__link--active{{/is}}" href="#">Nav 2</a></li>
                <li class="siteNav__item"><a class="siteNav__link{{#is basename 'pricing'}} siteNav__link--active{{/is}}" href="#">Nav 3</a></li>
                <li class="siteNav__item"><a class="siteNav__link{{#is basename 'pricing'}} siteNav__link--active{{/is}}" href="#">Nav 4</a></li>
            </ul>
        </nav>
    </div>
</header>
