<footer class="siteFooter">
    <div class="siteFooter__inner">
        <div class="socialIcons">
            <a class="socialIcon" href="#"><svg class="icon-facebook2"><use xlink:href="#icon-facebook2"></use></svg></a>
            <a class="socialIcon" href="#"><svg class="icon-google2"><use xlink:href="#icon-google2"></use></svg></a>
            <a class="socialIcon" href="#"><svg class="icon-youtube2"><use xlink:href="#icon-youtube2"></use></svg></a>
        </div>
        <ul class="siteFooter__links">
            <li class="siteFooter__linkItem"><a class="siteFooter__link" href="#">FAQs</a></li>
            <li class="siteFooter__linkItem"><a class="siteFooter__link" href="#">driving tips (coming soon)</a></li>
            <li class="siteFooter__linkItem"><a class="siteFooter__link" href="#">signature roadside assistance</a></li>
            <li class="siteFooter__linkItem"><a class="siteFooter__link" href="#">terms of service</a></li>
            <li class="siteFooter__linkItem"><a class="siteFooter__link" href="#">website terms of use</a></li>
            <li class="siteFooter__linkItem"><a class="siteFooter__link" href="#">privacy policy</a></li>
        </ul>
        <div class="siteFooter__contact">
            Questions? Call <span class="tel">800.906.2501</span>
        </div>
        <div class="siteFooter__finePrint">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla veniam adipisci velit officia natus, consequatur voluptatum! Cumque veniam, facilis inventore magnam itaque maiores tempora distinctio iste, amet tempore obcaecati veritatis.
        </div>
    </div>
</footer>
