<div class="tabsWrapper">
    <div class="tabs">
        <button class="tabBtn tabBtn--active" data-tab="1">Tab 1</button>
        <button class="tabBtn" data-tab="2">Tab 2</button>
        <button class="tabBtn" data-tab="3">Tab 3</button>
        <button class="tabBtn" data-tab="4">Tab 4</button>
    </div>
    <div class="tabPointer"></div>
    <div class="tabsContent">
        <section id="tab4" class="tab">
            <img src="http://placehold.it/840x418" alt="" class="tab__beauty">
            <div class="tab__copy">
                <h1 class="tab__title">Tab Title 4</h1>
                <p class="tab__blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur at totam, dolores ad veritatis reiciendis vitae, consectetur voluptate iste neque, tenetur! Eum assumenda consequatur quaerat optio, porro veniam. Voluptatum.</p>
                <img src="http://placehold.it/280x130" alt="" class="tab__image">
                <img src="http://placehold.it/280x130" alt="" class="tab__image">
            </div>
        </section>
        <section id="tab3" class="tab">
            <img src="http://placehold.it/840x418" alt="" class="tab__beauty">
            <div class="tab__copy">
                <h1 class="tab__title">Tab Title 3</h1>
                <p class="tab__blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur at totam, dolores ad veritatis reiciendis vitae, consectetur voluptate iste neque, tenetur! Eum assumenda consequatur quaerat optio, porro veniam. Voluptatum.</p>
                <img src="http://placehold.it/280x130" alt="" class="tab__image">
                <img src="http://placehold.it/280x130" alt="" class="tab__image">
            </div>
        </section>
        <section id="tab2" class="tab">
            <img src="http://placehold.it/840x418" alt="" class="tab__beauty">
            <div class="tab__copy">
                <h1 class="tab__title">Tab Title 2</h1>
                <p class="tab__blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur at totam, dolores ad veritatis reiciendis vitae, consectetur voluptate iste neque, tenetur! Eum assumenda consequatur quaerat optio, porro veniam. Voluptatum.</p>
                <img src="http://placehold.it/280x130" alt="" class="tab__image">
                <img src="http://placehold.it/280x130" alt="" class="tab__image">
            </div>
        </section>
        <section id="tab1" class="tab">
            <img src="http://placehold.it/840x418" alt="" class="tab__beauty">
            <div class="tab__copy">
                <h1 class="tab__title">Tab Title 1</h1>
                <p class="tab__blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur at totam, dolores ad veritatis reiciendis vitae, consectetur voluptate iste neque, tenetur! Eum assumenda consequatur quaerat optio, porro veniam. Voluptatum.</p>
                <img src="http://placehold.it/280x130" alt="" class="tab__image">
                <img src="http://placehold.it/280x130" alt="" class="tab__image">
            </div>
        </section>
    </div>
</div>
